<h1>Post Edit Page</h1>

<%= form_with model: @post, url: post_path, class: "m-3 mb-3" do |f| %>
    <div class="mb-3">
        <%= f.label :title, class: "form-label"%>
        <%= f.text_field :title, class: "form-control"%>
    </div>
    <div class="mb-3">
        <%= f.label :body, class: "form-label"%>
        <%= f.text_area :body, class: "form-control"%>
    </div>
    <div class="d-grid justify-content-md-end" >
        <%= f.submit class: "btn btn-outline-primary mb-3"%>
    </div>      
<% end %>